.auto-container {
  position: static;
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

/*
====================================================================
	Buttons Style
====================================================================
*/
.theme-btn {
  position: relative;
  transition: all 300ms ease;
}

/* Button style three*/
.btn-style-three {
  position: relative;
  /* padding: 10px 30px; */
  min-width: 80px;
  font-size: 16px;
  line-height: 30px;
  color: #fcf0dc;
  font-weight: 400;
  text-align: center;
  background-color: #ffa800;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 15px 0 #0e2721c4;
  border: none;
  outline: none;
}

.btn-style-three .btn-title {
  position: relative;
  z-index: 1;
}

.btn-style-three:hover {
  color: #0e2721;
  -ms-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.btn-style-three:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: "";
  background-color: #ffffff;
  transform: scale(0, 1);
  transform-origin: top right;
  transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
  /* easeInOutQuint */
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  /* easeInOutQuint */
}

.btn-style-three:hover:before {
  transform: scale(1, 1);
  transform-origin: bottom left;
}

.btn-style-four {
  position: relative;
  padding: 10px 30px;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  background-color: #105c04;
  overflow: hidden;
  border-radius: 50px;
  box-shadow: 0 4px 15px 0 #0e2721;
}

.btn-style-four .btn-title {
  position: relative;
}

.btn-style-four:hover {
  color: #ed6c11;
  -ms-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.btn-style-four:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: "";
  background-color: #ffffff;
  transform: scale(0, 1);
  transform-origin: top right;
  transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
  /* easeInOutQuint */
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  /* easeInOutQuint */
}

.btn-style-four:hover:before {
  transform: scale(1, 1);
  transform-origin: bottom left;
}

.schedule-section {
  position: relative;
  padding: 80px 0 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #fafafa;
  overflow: hidden;
}

.schedule-section .icon-circle-4 {
  right: -200px;
  bottom: 160px;
}

.schedule-section .icon-circle-3 {
  left: -375px;
  top: 340px;
  opacity: 0.3;
}

.tabs-box {
  position: relative;
}

.tabs-box .tab {
  display: none;
}

.tabs-box .tab.active-tab {
  display: block;
}

.schedule-tabs {
  position: relative;
}

.schedule-tabs .btns-box {
  position: relative;
  display: block;
  margin-bottom: 40px;
}

.schedule-tabs .tab-buttons {
  position: relative;
  text-align: center;
}

.schedule-tabs .tab-buttons li {
  position: relative;
  display: inline-block;
  height: 135px;
  width: 160px;
  border-radius: 20px;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  font-weight: 600;
  text-align: left;
  padding: 15px 15px;
  padding-top: 70px;
  padding-left: 90px;
  cursor: pointer;
  margin: 0 15px 20px;
  border: 1px solid #dddddd;
  transition: all 300ms ease;
}

.schedule-tabs .tab-buttons li .day {
  position: absolute;
  left: 0px;
  top: 30px;
  padding: 5px 20px;
  background-color: #222222;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: #ffffff;
  border-radius: 0 15px 15px 0;
}

.schedule-tabs .tab-buttons li .date {
  position: absolute;
  left: 0;
  top: 80px;
  width: 100px;
  text-align: center;
  font-size: 38px;
  line-height: 20px;
  font-weight: 600;
  color: #222222;
}

.schedule-tabs .tab-buttons li .month {
  display: block;
  font-size: 20px;
  line-height: 1em;
  font-weight: 600;
  color: #222222;
  text-transform: uppercase;
}

.schedule-tabs .tab-buttons li .year {
  font-size: 30px;
}

.schedule-tabs .tab-buttons li.active-btn {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}

.schedule-tabs .tab-buttons li:nth-child(4n + 1) .day {
  background-color: #ffc20b;
}

.schedule-tabs .tab-buttons li:nth-child(4n + 2) .day {
  background-color: #40cbb4;
}

.schedule-tabs .tab-buttons li:nth-child(4n + 3) .day {
  background-color: #0e2721;
}

.schedule-tabs .tab-buttons li:nth-child(4n + 4) .day {
  background-color: #e6275a;
}

.schedule-tabs .tab-buttons li:nth-child(4n + 1) .month,
.schedule-tabs .tab-buttons li:nth-child(4n + 1) .date {
  color: #ffc20b;
}

.schedule-tabs .tab-buttons li:nth-child(4n + 2) .month,
.schedule-tabs .tab-buttons li:nth-child(4n + 2) .date {
  color: #40cbb4;
}

.schedule-tabs .tab-buttons li:nth-child(4n + 3) .month,
.schedule-tabs .tab-buttons li:nth-child(4n + 3) .date {
  color: #0e2721;
}

.schedule-tabs .tab-buttons li:nth-child(4n + 4) .month,
.schedule-tabs .tab-buttons li:nth-child(4n + 4) .date {
  color: #e6275a;
}

.schedule-tabs .tab-buttons li:nth-child(4n + 1).active-btn {
  box-shadow: 0 0px 30px rgba(255, 194, 11, 0.3);
  border: 1px solid #ffc20b;
}

.schedule-tabs .tab-buttons li:nth-child(4n + 2).active-btn {
  box-shadow: 0 0px 30px rgba(64, 203, 180, 0.3);
  border: 1px solid #40cbb4;
}

.schedule-tabs .tab-buttons li:nth-child(4n + 3).active-btn {
  box-shadow: 0 0px 30px rgba(76, 53, 169, 0.3);
  border: 1px solid #0e2721;
}

.schedule-tabs .tab-buttons li:nth-child(4n + 4).active-btn {
  box-shadow: 0 0px 30px rgba(230, 39, 90, 0.3);
  border: 1px solid #e6275a;
}

.schedule-timeline {
  position: relative;
}

/*=== Schedule Block ===*/
.schedule-block {
  position: relative;
  margin-bottom: 40px;
}

.schedule-block:after {
  display: table;
  clear: both;
  content: "";
}

.schedule-block .inner-box {
  position: relative;
  float: right;
  width: 50%;
  text-align: justify;
  line-height: 1.5rem;
}

.schedule-block .inner-box .inner {
  position: relative;
  padding: 20px 30px 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  margin-left: 80px;
  border-radius: 20px;
  min-height: 60px;
}
.order-2 {
  order: 1;
}
.schedule-block .inner:before {
  position: absolute;
  top: 0;
  bottom: -30px;
  right: 100%;
  border-left: 2px dashed #dddddd;
  content: "";
  margin-right: 80px;
}

.schedule-block .inner:after {
  position: absolute;
  right: 100%;
  top: 22px;
  border-top: 15px solid transparent;
  border-right: 20px solid #ffffff;
  border-bottom: 15px solid transparent;
  content: "";
}

.schedule-block .date {
  position: absolute;
  left: -122px;
  width: 50px;
  top: 0px;
  height: 50px;
  background-color: #ffffff;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: #212639;
  font-weight: 500;
  padding: 30px 15px 0;
  border-radius: 50%;
  border: 2px dashed #dddddd;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}

.schedule-block .speaker-info {
  position: relative;
  padding-left: 80px;
  padding-top: 10px;
  min-height: 60px;
}

.schedule-block .speaker-info .thumb {
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.schedule-block .speaker-info .name {
  font-size: 16px;
  color: #212639;
  font-weight: 500;
  line-height: 1.2em;
}

.schedule-block .speaker-info .designation {
  font-size: 13px;
}

.schedule-block h4 {
  position: relative;
  font-size: 22px;
  line-height: 1.2em;
  color: #0f1925;
  font-weight: 600;
  margin-bottom: 15px;
  padding-top: 15px;
}

.schedule-block h4 a {
  color: #212639;
  display: inline-block;
  transition: all 300ms ease;
}

.schedule-block h4 a:hover {
  color: #f14b59;
}

.schedule-block .text {
  position: relative;
  font-size: 16px;
  line-height: 26px;
  color: #000;
  /* margin-bottom: 15px; */
}

.schedule-block .btn-box {
  position: relative;
  padding: 6px 0;
}

.schedule-block .btn-box a {
  padding: 10px 20px;
  line-height: 20px;
  font-size: 14px;
  background-color: #444444;
  color: #ffffff;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-radius: 5px;
}

.schedule-block .btn-box a:hover {
  color: #ffffff;
  /* box-shadow: 0 10px 20px rgba(0,0,0,0.10); */
}

.schedule-block.even .inner-box {
  float: left;
  text-align: justify;
  line-height: 1.5rem;
}

.schedule-block.even .inner-box .inner {
  margin-left: 0;
  margin-right: 80px;
}

.schedule-block.even .inner:before {
  right: auto;
  left: 100%;
  margin-left: 80px;
  margin-right: 0;
}

.schedule-block.even .inner:after {
  right: auto;
  left: 100%;
  border-right: 0;
  border-left: 20px solid #ffffff;
}

.schedule-block:last-child .inner:before {
  display: none;
}

.schedule-block.even .date {
  left: auto;
  right: -122px;
}

.schedule-block.even .speaker-info {
  padding-left: 0;
  padding-right: 80px;
}

.schedule-block.even .speaker-info .thumb {
  left: auto;
  right: 0;
}

.schedule-block:nth-child(4n + 1) .date,
.schedule-block:nth-child(4n + 1) .inner:before {
  border-color: #ffc20b;
}

.schedule-block:nth-child(4n + 2) .date,
.schedule-block:nth-child(4n + 2) .inner:before {
  border-color: #40cbb4;
}

.schedule-block:nth-child(4n + 3) .date,
.schedule-block:nth-child(4n + 3) .inner:before {
  border-color: #0e2721;
}

.schedule-block:nth-child(4n + 4) .date,
.schedule-block:nth-child(4n + 4) .inner:before {
  border-color: #e6275a;
}

/* Backgroud */
.schedule-block:nth-child(4n + 1) .btn-box a {
  background-color: #ffc20b;
}

.schedule-block:nth-child(4n + 1) .btn-box a:hover {
  color: #ffc20b;
  border-radius: 0px;
  background: none;
  border-color: #ffc20b;
}

.schedule-block:nth-child(4n + 2) .btn-box a {
  background-color: #40cbb4;
}

.schedule-block:nth-child(4n + 2) .btn-box a:hover {
  border-radius: 0px;
  color: #40cbb4;
  background: none;
  border-color: #40cbb4;
}

.schedule-block:nth-child(4n + 3) .btn-box a {
  background-color: #0e2721;
}

.schedule-block:nth-child(4n + 3) .btn-box a:hover {
  border-radius: 0px;
  color: #0e2721;
  background: none;
  border-color: #0e2721;
}

.schedule-block:nth-child(4n + 4) .btn-box a {
  background-color: #e6275a;
}

.schedule-block:nth-child(4n + 4) .btn-box a:hover {
  border-radius: 0px;
  color: #e6275a;
  background: none;
  border-color: #e6275a;
}

/* color */
.schedule-section.style-three .schedule-block:nth-child(4n + 1) .date,
.schedule-section.style-two .schedule-block:nth-child(4n + 1) .date,
.schedule-block:nth-child(4n + 1) h4 a:hover {
  color: #ffc20b;
}

.schedule-section.style-three .schedule-block:nth-child(4n + 2) .date,
.schedule-section.style-two .schedule-block:nth-child(4n + 2) .date,
.schedule-block:nth-child(4n + 2) h4 a:hover {
  color: #40cbb4;
}

.schedule-section.style-three .schedule-block:nth-child(4n + 3) .date,
.schedule-section.style-two .schedule-block:nth-child(4n + 3) .date,
.schedule-block:nth-child(4n + 3) h4 a:hover {
  color: #0e2721;
}

.schedule-section.style-three .schedule-block:nth-child(4n + 4) .date,
.schedule-section.style-two .schedule-block:nth-child(4n + 4) .date,
.schedule-block:nth-child(4n + 4) h4 a:hover {
  color: #e6275a;
}

/*
====================================================================
	schedule Section Style two
====================================================================

***/
.schedule-section.style-two {
  position: relative;
}

.schedule-section.style-two .schedule-block .date {
  position: relative;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  border: 0;
  box-shadow: none;
  height: auto;
  width: auto;
  margin-bottom: 20px;
  text-align: left;
  font-size: 16px;
}

.schedule-section.style-two .schedule-block .inner-box {
  width: 100%;
}

.schedule-section.style-two .schedule-block .inner-box .inner {
  margin: 0;
  padding: 50px 50px 40px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.schedule-section.style-two .schedule-block .inner:before,
.schedule-section.style-two .schedule-block .inner:after {
  display: none;
}

.schedule-section.style-two .schedule-timeline {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}

/*
====================================================================
	schedule Section Style Three
====================================================================

***/
.schedule-section.style-three {
  position: relative;
}

.schedule-tabs.style-three .tab-buttons li {
  float: left;
  width: 25%;
  margin: 0;
  box-shadow: none;
  border-radius: 0;
  border-color: transparent;
}

.schedule-tabs.style-three .tab-buttons li.active-btn {
  z-index: 2;
}

.schedule-section.style-three .schedule-block .date {
  position: relative;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  border: 0;
  box-shadow: none;
  height: auto;
  width: auto;
  margin-bottom: 20px;
  text-align: left;
  font-size: 16px;
}

.schedule-section.style-three .schedule-block .inner-box {
  width: 100%;
}

.schedule-section.style-three .schedule-block .inner-box .inner {
  margin: 0;
  padding: 50px 50px 40px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.schedule-section.style-three .schedule-block .inner:before,
.schedule-section.style-three .schedule-block .inner:after {
  display: none;
}

.schedule-section.style-three .schedule-timeline {
  position: relative;
}

.register-section .icon-circle-3 {
  right: -100px;
  top: -120px;
  opacity: 0.2;
}

.register-section .icon-shape-3 {
  right: 5%;
  top: 0%;
}

#inner-list ol {
  list-style-type: lower-alpha;
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 30px;
}

/* css list with arrow images  -------------- */
.imglist ul {
  margin: 0px;
  padding: 10px;
}
.imglist ul > li {
  font-size: 18px;
  color: #000;
  font-weight: 600;
  margin-left: 40px;
  margin-bottom: 30px;
  padding: 0px;
  list-style: url(../images/arrow.png);
  line-height: 30px;
}

.imglist li:hover {
  color: #0a7caf;
  padding: 5px;
  /* -moz-box-shadow: 0px 0px 12px #9e9ea3;
    -webkit-box-shadow: 0px 0px 12px #9e9ea3;
    box-shadow: 0px 0px 12px #9e9ea3; */
  border: none 0px #000000;
  /* -moz-border-radius: 3px;
    -webkit-border-radius: 3px; */
  border-radius: 3px;
}

/* End css list with arrow images  -------------- */

@media only screen and (max-width: 1023px) {
  .main-header,
  .main-header.fixed-header,
  .main-header .main-box {
    /* position: relative !important; */

    background-color: #0e2721;
  }

  .main-header .main-box {
    padding: 10px 0;

    background-color: #0e2721;
  }

  .header-style-two,
  .header-style-two .main-box {
    background-color: #ffffff;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.04);

    padding: 0;
  }

  .header-style-two .outer-box,
  .header-style-two .logo-box,
  .header-style-two .main-menu .navigation > li {
    padding: 10px 0;
  }

  .header-style-two .outer-box .theme-btn {
    background-color: #ed6c11;

    color: #ffffff;
  }

  .header-style-two .nav-outer {
    float: right;
  }

  .schedule-tabs .tab-btn:after,
  .banner-meetup .countdown .counter-column:before,
  .about-section .image-column .image-1:before,
  .main-header .outer-box {
    display: none;
  }

  .banner-carousel .swiper-slide {
    padding: 200px 0;
  }

  .banner-carousel .content-box h2 {
    font-size: 50px;

    line-height: 1.2em;

    margin-bottom: 20px;
  }

  .banner-carousel .slide-item {
    padding: 150px 0;
  }

  .coming-soon-section .outer-box {
    margin: 0 -15px;

    padding: 30px;
  }

  .coming-soon-section .time-countdown .counter-column,
  .coming-soon-section-two .time-countdown .counter-column {
    margin: 0 20px;
  }

  .coming-soon-section .time-countdown .counter-column:before {
    right: -25px;
  }

  .header-span,
  .schedule-block .inner:before,
  .about-section .icon-dots {
    display: none;
  }

  .about-section .image-column .image-box {
    padding-left: 0;

    text-align: center;
  }

  .clients-section {
    text-align: center;
  }

  .about-section .image-column .image {
    max-width: 500px;

    display: inline-block;
  }

  .register-form button,
  .schedule-block .inner-box {
    width: 100%;
  }

  .schedule-block.even .inner-box .inner {
    margin-right: 140px;
    min-height: 60px;
  }

  .schedule-block .inner-box .inner {
    margin-left: 140px;
  }

  .buy-ticket .content-column,
  .why-choose-us .content-column {
    order: 0;
  }

  .banner-conference .content-box h2 {
    font-size: 42px;
  }

  .banner-conference .images-outer {
    width: 40%;
  }

  .banner-conference .time-countdown .counter-column {
    margin-right: 20px;
  }

  .banner-conference .time-countdown .counter-column:last-child {
    margin-right: 0;
  }

  .banner-conference .time-countdown .counter-column:before {
    right: -15px;
  }

  .banner-conference {
    padding: 200px 0 100px;
  }

  .banner-conference .icon-dots {
    bottom: 50px;
  }

  .subscribe-section .content-box {
    text-align: center;
  }

  .subscribe-section .content-box .sec-title {
    padding-left: 0;
  }

  .about-section-two .image-column .image-box {
    padding-right: 0;
  }

  .subscribe-section .content-box .sec-title .icon {
    position: relative;

    display: inline-block;

    margin-bottom: 20px;

    left: 0;

    top: 0;
  }

  .banner-meetup h2 {
    font-size: 60px;
  }

  .event-info-section .info-column,
  .about-section-two .content-column {
    order: 0;
  }

  .event-info-section .info-column {
    margin-bottom: 50px;
  }

  .buy-ticket .anim-icons,
  .error-section .icon-line-1,
  .features-section-two .twist-line-3,
  .subscribe-form .sec-title .text br,
  .about-section-two .icon-circle-blue,
  .about-section-two .icon-dots,
  .banner-conference-two .images-outer .speaker-img,
  .coming-soon-section-two .time-countdown .counter-column:before {
    display: none;
  }

  .banner-conference-two {
    padding-top: 140px;

    padding-bottom: 280px;
  }

  .fluid-section-one .content-column h3 {
    font-size: 34px;
  }

  .app-section,
  .speaker-detail .info-column .inner-column,
  .app-section .image-column .image-box {
    text-align: left;
  }

  .event-info-section .map-column {
    position: relative;

    height: 400px;
  }

  .app-section .content-column .inner-column {
    padding-top: 0;
  }

  .contact-page-section .contact-column {
    order: 0;
  }

  .subscribe-section .content-box .sec-title {
    text-align: center;
  }

  .header-top-two .top-left .links li a {
    font-size: 14px;
  }

  .header-top-two .top-left,
  .header-top-two .top-right {
    width: 100%;
  }

  .header-top-two .top-right .social-icons li {
    margin-left: 0px;

    margin-right: 15px;
  }

  /** Homepage Mobile Header Style by Larry **/

  .main-header.header-style-two.alternate-two {
    background-color: #0e2721;
  }

  .main-header.header-style-two.alternate-two .main-box {
    background-color: #ffffff;
  }

  .header-top-two .top-right .social-icons li a {
    position: relative;

    color: #ffffff;

    font-size: 16px;
  }
}

@media only screen and (max-width: 767px) {
  .main-header .nav-outer .main-menu {
    display: none !important;
  }

  .main-header .header-lower .nav-outer {
    padding-right: 0;
  }

  .main-header .outer-box {
    position: absolute;

    left: 0;

    top: 0;
  }

  .nav-outer .mobile-nav-toggler {
    display: block;

    margin: 0;
  }

  .page-title {
    padding: 80px 0;
  }

  .page-title h1 {
    font-size: 40px;

    margin-bottom: 10px;
  }

  .sec-title h2 {
    font-size: 42px;
  }

  .banner-carousel .content-box h2 {
    font-size: 40px;

    line-height: 1.2em;
  }

  .banner-carousel .swiper-slide {
    padding: 160px 0;
  }

  .coming-soon-section .time-countdown .counter-column,
  .coming-soon-section-two .time-countdown .counter-column {
    margin: 0;

    font-size: 14px;
  }

  .coming-soon-section .time-countdown .counter-column .count,
  .coming-soon-section-two .time-countdown .counter-column .count {
    font-size: 40px;
  }

  .coming-soon-section .time-countdown .counter-column:before {
    font-size: 40px;

    right: -6px;
  }

  .clients-section,
  .event-info-section {
    padding: 70px 0 0;
  }

  .map-section {
    padding-bottom: 70px;
  }

  .app-section,
  .faq-form-section,
  .error-section,
  .news-section.alternate,
  .fluid-section-one .content-column .inner-column,
  .newsletter-section,
  .testimonial-section,
  .register-section {
    padding: 70px 0;
  }

  .why-choose-us,
  .contact-page-section,
  .sidebar-page-container,
  .fun-fact-section,
  .speaker-detail,
  .about-section {
    padding: 70px 0 20px;
  }

  .faq-section,
  .pricing-section-three,
  .speakers-section-three,
  .about-section-two,
  .pricing-section-two,
  .speakers-section-two,
  .features-section {
    padding-bottom: 30px;
  }

  .event-detail,
  .buy-ticket,
  .features-section-three,
  .news-section,
  .pricing-section,
  .schedule-section,
  .gallery-section,
  .speakers-section {
    padding: 70px 0 40px;
  }

  .features-section-two {
    padding: 70px 0 50px;
  }

  .feature-block-two .inner-box {
    padding: 40px 20px;

    text-align: center;
  }

  .feature-block-two .icon-box {
    position: relative;

    display: inline-block;

    left: 0;

    top: 0;

    margin-bottom: 20px;
  }

  .video-section .content-box h2 {
    font-size: 38px;
  }

  .video-section {
    padding: 70px 0 100px;
  }

  .main-footer .widgets-section {
    padding: 100px 0 30px;
  }

  .register-section .title-column {
    width: 100%;
  }

  .header-style-two .nav-outer {
    padding-top: 10px;
  }

  .banner-conference {
    padding-top: 150px;
  }

  .features-section-two .twist-line-2,
  .call-to-action .content-box h2 br,
  .banner-conference .layer-outer,
  .banner-conference .images-outer {
    display: none;
  }

  .banner-conference .content-box {
    text-align: center;
  }

  .banner-conference .icon-dots {
    bottom: 0;

    left: 80%;
  }

  .subscribe-section .newsletter-form .form-group {
    padding-right: 0;
  }

  .subscribe-section .newsletter-form .form-group .theme-btn {
    position: relative;

    display: block;

    margin-top: 20px;

    width: 100%;
  }

  .banner-meetup h2 {
    font-size: 50px;
  }

  .banner-meetup .countdown .counter-column {
    width: 80px;

    font-size: 14px;
  }

  .banner-meetup .btn-box {
    margin-top: 10px;
  }

  .fluid-section-one .content-column,
  .fluid-section-one .image-column {
    position: relative;

    width: 100%;

    float: left;
  }

  .fluid-section-one .image-column .image-box {
    display: block;
  }

  .event-info-section .map-column {
    margin-bottom: 70px;
  }

  .subscribe-form .form-inner {
    max-width: 100%;
  }

  .coming-soon .content .text br,
  .error-section .anim-icons,
  .newsletter-section .anim-icons,
  .main-footer.style-three .anim-icons {
    display: none;
  }

  .error-section .error-title {
    font-size: 120px;
  }

  .clients-section {
    text-align: center;
  }

  .header-top .pull-right {
    display: none;
  }

  .header-top .top-left {
    width: 100%;

    display: block;

    text-align: center;
  }

  .banner-section-two .outer-container .content h1 {
    font-size: 58px;
  }

  .banner-section-two .outer-container .content h2 {
    font-size: 28px;
  }

  .banner-section-two .outer-container .content h2 span {
    font-size: 24px;
  }

  .coming-soon-section-two .outer-box {
    padding-left: 0px;

    padding-right: 0px;
  }

  .coming-soon-section-two .outer-box {
    margin-top: 90px;
  }

  .banner-section-two {
    padding-bottom: 150px;
  }

  .header-top-two .top-left {
    display: none;
  }

  .header-top-two .top-right {
    text-align: center;
  }

  .header-top-two .top-right .cart-box,
  .header-top-two .top-right .social-icons {
    display: inline-block;

    float: none;
  }

  .banner-conference-two {
    padding-bottom: 120px;
  }
}

@media only screen and (max-width: 599px) {
  .schedule-block .date {
    height: 25px;
    width: 25px;
  }

  .page-title h1,
  .banner-meetup h2,
  .banner-conference .content-box h2,
  .error-section h4,
  .event-info-section .info-column .sec-title h2,
  .about-section .content-column .sec-title h2,
  .sec-title h2 {
    font-size: 34px;

    line-height: 1.2em;
  }

  .banner-conference-two .content-box h2 {
    font-size: 40px;
  }

  .banner-conference-two .time-countdown .counter-column {
    margin-bottom: 60px;
  }

  .call-to-action .content-box h2,
  .about-section-two .content-column .sec-title h2,
  .fluid-section-one .content-column h3,
  .video-section .content-box h2,
  .banner-carousel .content-box h2 {
    font-size: 30px;
  }

  .blog-single h2,
  .event-detail .content-box h2,
  .banner-carousel .content-box .title,
  .register-section .title-column h2 {
    font-size: 24px;
  }

  .blog-sidebar .news-block h4 {
    font-size: 22px;

    line-height: 1.2em;
  }

  .coming-soon h1 {
    font-size: 50px;
  }

  .banner-carousel .content-box .info-list {
    margin-bottom: 10px;
  }

  .banner-carousel .content-box .info-list li {
    margin-bottom: 10px;
  }

  .video-section .content-box h2 br,
  .coming-soon .icon-line-1,
  .banner-conference-two .time-countdown .counter-column:before,
  .about-section-two .content-column .sec-title h2 br,
  .event-info-section .info-column .sec-title h2 br,
  .banner-carousel .content-box .info-list li:before {
    display: none;
  }

  .page-title h1 {
    font-size: 40px;

    margin-bottom: 10px;
  }

  .clients-section-three .sponsors-outer .image-box img {
    max-width: 100%;

    width: auto;
  }

  .schedule-block.even .inner-box .inner {
    margin-right: 80px;
    padding: 15px;
  }

  .schedule-block .inner-box .inner {
    margin-left: 80px;
    padding: 15px;
  }

  /* .schedule-block.even .inner-box .inner,
  .schedule-block .inner-box .inner {
    margin: 0;
  } */

  /* .schedule-block .date {
    position: relative;

    display: inline-block;

    margin-bottom: 15px;

    left: 0;

    top: 0;

    padding: 0;

    border: 0;

    box-shadow: none;

    height: auto;

    width: auto;
  } */

  .schedule-block.even .date {
    right: -80px;
  }

  .schedule-block .inner:after {
    top: 35px;
  }

  .schedule-block .date {
    position: absolute;
    left: -80px;
    width: 25px;
    top: 0px;
    height: 36px;
    background-color: #ffffff;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    color: #212639;
    font-weight: 500;
    padding: 19px 15px 0;
    border-radius: 50%;
    border: 2px dashed #dddddd;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
    margin-top: 20px;
  }

  .coming-soon-section .outer-box {
    margin: 0 -15px;

    padding: 30px 15px;
  }

  .coming-soon-section .time-countdown .counter-column,
  .coming-soon-section-two .time-countdown .counter-column {
    margin: 0 10px;

    width: auto;
  }

  .coming-soon-section .time-countdown .counter-column .count,
  .coming-soon-section-two .time-countdown .counter-column .count {
    font-size: 30px;
  }

  .coming-soon-section .time-countdown .counter-column:before {
    font-size: 30px;

    right: -15px;

    top: 0px;
  }

  .event-info-tabs .tab-btn {
    margin-right: 0;
  }

  .schedule-section.style-two .schedule-block .inner-box .inner {
    text-align: center;

    padding: 30px 20px;
  }

  .schedule-section.style-two .schedule-block .speaker-info .thumb {
    position: relative;

    display: inline-block;

    left: 0;

    top: 0;

    margin-bottom: 5px;
  }

  .schedule-section.style-two .schedule-block .speaker-info {
    padding-left: 0;

    text-align: center;
  }

  .banner-conference .time-countdown .counter-column {
    margin-right: 0px;

    width: 60px;

    text-align: center;

    font-size: 12px;
  }

  .banner-conference .time-countdown .counter-column:last-child {
    margin-right: 0;
  }

  .banner-conference .time-countdown .counter-column .count {
    font-size: 28px;
  }

  .banner-conference .time-countdown .counter-column:after {
    width: 60px;
  }

  .banner-conference .time-countdown .counter-column:before {
    right: -5px;

    font-size: 28px;

    display: none;
  }

  .schedule-section.style-three .schedule-block .inner-box .inner {
    padding: 30px 20px;
  }

  .banner-meetup {
    padding: 100px 0;
  }

  .schedule-tabs.style-three .tab-buttons li {
    width: 50%;
  }

  .banner-meetup .address {
    font-size: 18px;
  }

  .banner-meetup .countdown .counter-column {
    width: 60px;

    font-size: 10px;

    margin: 0 0 20px;
  }

  .banner-meetup .countdown .counter-column .count {
    font-size: 24px;
  }

  .feature-block-three .inner-box {
    padding: 40px 20px;

    text-align: center;
  }

  .feature-block-three .icon-box {
    position: relative;

    display: inline-block;

    left: 0;

    top: 0;

    height: 80px;

    width: 80px;

    border-radius: 50%;

    margin-bottom: 20px;
  }

  .feature-block-three .link-box {
    position: relative;

    display: inline-block;

    left: 0;

    top: 0;

    margin: 15px 0 0;
  }

  .feature-block-three .icon-box:before {
    transform: none;

    border-radius: 50%;
  }

  .pricing-block-three .price {
    font-size: 80px;
  }

  .blog-single .lower-content blockquote {
    padding: 35px 20px;
  }

  .blog-single .lower-content blockquote .icon {
    position: relative;

    display: inline-block;

    left: 0;

    top: 0;

    margin-bottom: 20px;
  }

  .post-share-options .social-icon-three {
    margin-top: 10px;
  }

  .buy-ticket .ticket-form {
    padding: 30px 20px;
  }

  .instagram-widget .outer .image {
    width: 33.333%;
  }

  .register-section .title-column .inner {
    padding: 50px 20px 20px;
  }

  .comments-area .comment {
    padding-left: 0;
  }

  .comments-area .comment-box .author-thumb {
    position: relative;

    left: 0;

    top: 0;
  }
}

@media only screen and (max-width: 479px) {
  .banner-conference-two .content-box h2 {
    font-size: 34px;
  }
}

/*** 



====================================================================

		Right To Left Responsive

====================================================================



***/

@media only screen and (max-width: 1139px) {
  .rtl .buy-ticket .form-column .inner-column,
  .rtl .about-section .content-column .inner-column {
    padding-left: 0;
  }

  .rtl .event-info-section .info-column .inner-column,
  .rtl .useful-links {
    padding-right: 0;
  }

  .rtl .features-section-two .title-block .inner-box {
    padding: 0;
  }

  .rtl .banner-conference .icon-circle-3 {
    left: auto;

    right: -200px;
  }

  .rtl .sidebar-page-container .sidebar.padding-left {
    padding-right: 0;
  }

  .rtl .instagram-widget .outer .image {
    float: right;
  }

  .rtl .main-menu .navigation > li {
    margin-right: 35px;
  }
}

@media only screen and (max-width: 1023px) {
  .rtl .header-style-two .nav-outer {
    float: left;
  }

  .rtl .coming-soon-section .time-countdown .counter-column:before {
    right: auto;

    left: -25px;
  }

  .rtl .subscribe-section .content-box .sec-title,
  .rtl .about-section .image-column .image-box {
    padding-right: 0;

    text-align: center;
  }

  .rtl .banner-conference .time-countdown .counter-column:before {
    left: -15px;
  }

  .rtl .subscribe-section .content-box .sec-title {
    padding-right: 0;
  }

  .rtl .about-section-two .image-column .image-box {
    padding-left: 0;
  }

  .rtl .subscribe-section .content-box .sec-title .icon {
    right: 0;

    left: auto;
  }
}

@media only screen and (max-width: 767px) {
  .rtl .main-header .header-lower .nav-outer {
    padding-left: 0;
  }

  .rtl .main-header .outer-box {
    right: 0;

    left: auto;
  }

  .rtl .nav-outer .mobile-nav-toggler {
    margin: 0;
  }

  .rtl .coming-soon-section .time-countdown .counter-column:before {
    left: -6px;
  }

  .rtl .feature-block-two .icon-box {
    left: auto;

    right: 0;
  }

  .rtl .subscribe-section .newsletter-form .form-group {
    padding-right: 0;
  }

  .rtl .feature-block-two .inner-box {
    padding: 40px 20px;
  }

  .rtl .mobile-menu .navigation li.dropdown .dropdown-btn {
    right: auto;

    left: 0;
  }

  .rtl .mobile-menu .nav-logo {
    width: 100%;

    text-align: right;
  }

  .rtl .mobile-menu .close-btn {
    right: auto;

    left: 15px;
  }

  .rtl .about-section .icon-circle-blue {
    display: none;
  }

  .rtl .features-section-two .title-block .inner-box {
    text-align: center;
  }
}

@media only screen and (max-width: 599px) {
  .rtl .schedule-block .date {
    right: 0;

    left: auto;
  }

  .rtl .schedule-block.even .date {
    right: auto;

    left: 0;
  }

  .rtl .coming-soon-section .outer-box {
    padding: 30px 15px;
  }

  .rtl .coming-soon-section .time-countdown .counter-column {
    margin: 0 10px;
  }

  .rtl .coming-soon-section .time-countdown .counter-column:before {
    left: -15px;
  }

  .rtl .event-info-tabs .tab-btn {
    margin-left: 0;
  }

  .rtl .schedule-section.style-two .schedule-block .inner-box .inner {
    padding: 30px 20px;
  }

  .rtl .schedule-section.style-two .schedule-block .speaker-info .thumb {
    left: auto;

    right: 0;
  }

  .rtl .schedule-section.style-two .schedule-block .speaker-info {
    padding-right: 0;
  }

  .rtl .banner-conference .time-countdown .counter-column {
    margin-left: 0px;
  }

  .rtl .banner-conference .time-countdown .counter-column:last-child {
    margin-left: 0;
  }

  .rtl .schedule-section.style-three .schedule-block .inner-box .inner {
    padding: 30px 20px;
  }

  .rtl .banner-meetup .countdown .counter-column {
    margin: 0 0 20px;
  }

  .rtl .feature-block-three .inner-box {
    padding: 40px 20px;
  }

  .rtl .feature-block-three .icon-box {
    left: auto;

    right: 0;
  }

  .rtl .feature-block-three .link-box {
    left: auto;

    right: 0;
  }

  .rtl .blog-single .lower-content blockquote {
    padding: 35px 20px;
  }

  .rtl .blog-single .lower-content blockquote .icon {
    left: auto;

    right: 0;
  }

  .rtl .buy-ticket .ticket-form {
    padding: 30px 20px;
  }

  .rtl .register-section .title-column .inner {
    padding: 50px 20px 20px;
  }

  .rtl .comments-area .comment {
    padding-left: 0;

    padding-right: 0;
  }

  .rtl .comments-area .comment-box .author-thumb {
    left: auto;

    right: 0;
  }

  .search-popup .search-form fieldset input[type="search"] {
    padding: 20px 20px;
  }

  .search-popup .search-form fieldset input[type="submit"] {
    position: relative;

    width: 100%;

    display: block;
  }
}

@media only screen and (max-width: 479px) {
}
